.trade-list {
  margin-bottom: 20px;
}

.trade-list table {
  width: 100%;
  border-collapse: collapse;
}

.trade-list th,
.trade-list td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.trade-list th {
  background-color: #f2f2f2;
}

.trade-list table {
  width: 100%;
  border-collapse: collapse;
}

.trade-list table th,
.trade-list table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.trade-list table th {
  background-color: #f2f2f2;
}

.trade-list table td button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 2px;
  cursor: pointer;
}

.trade-list table td button.edit {
  background-color: #008CBA;
}

.trade-list table td button.delete {
  background-color: #f44336;
}

.trade-list table td button:hover {
  opacity: 0.8;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content label {
  margin-bottom: 10px;
}

.modal-content input {
  margin-bottom: 10px;
  padding: 5px;
}

.modal-content button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.modal-content button[type="submit"] {
  background-color: #4caf50;
  color: white;
}

.modal-content button[type="button"] {
  background-color: #f44336;
  color: white;
  margin-left: 10px;
}

/* pagination.css */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  background-color: #007bff; /* Primary blue color */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.pagination button:disabled {
  background-color: #cccccc; /* Disabled button color */
  cursor: not-allowed;
}

.pagination button:not(:disabled):hover {
  background-color: #0056b3; /* Darker blue for hover effect */
  transform: translateY(-2px);
}

.pagination button:not(:disabled):active {
  background-color: #004085; /* Even darker blue for active effect */
  transform: translateY(0);
}

.pagination span {
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
}
